font/
webfonts/
*.mp4
*.ttf
*.eot
*.svg

images/*.mp4

images/*.psd
images/*.ai

images/*.png
images/*.jpg
images/*.jpeg

!images/logo.png
!images/logo.jpg
!images/landing.jpg

.vscode/

node_modules/
playwright-report/
test-results/
.playwright/